<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 6.0.0 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="com.dynatrace.diagnostics.plugin.GenericOperationMonitor" name="Generic Operations Plugin">
    <information>
      <category value="" />
      <description value="A plugin that allows for addition, substraction, multiplication, and division of metric" />
      <supportlevel value="unsupported" />
      <displayname value="Generic Operations Plugin" />
    </information>
    <configuration>
      <property key="dtServer" label="Dynatrace Server" type="string" description="The dynatrace server to test plugin in" default="localhost" multiline="false" />
      <property key="username" label="Username" type="string" description="The dynatrace username. This is necessary in order to access the server's RESTful interface&#xA;" default="" multiline="false" />
      <property key="password" label="Password" type="password" description="The password of the corresponding username. Necessary in order to access the Dynatrace RESTful interface" default="" />
      <property key="dashboardName" label="Dashboard Name" type="string" description="The name of the dashboard to retrieve the XML" default="" multiline="false" />
      <property key="firstMeasure" label="First Measure" type="string" description="The first measure&#xA;" default="" multiline="false" />
      <property key="secondMeasure" label="Second Measure" type="string" description="The measure to be subtracted from another" default="" multiline="false" />
      <property key="operation" label="Operation" type="list" description="My property description ..." default="+">
        <list>
          <item value="+" />
          <item value="-" />
          <item value="*" />
          <item value="/" />
        </list>
      </property>
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitor" id="com.dynatrace.diagnostics.plugin.GenericOperationMonitor.monitor" name="GenericOperationMonitor">
    <plugin configid="com.dynatrace.diagnostics.plugin.GenericOperationMonitor" class="com.dynatrace.diagnostics.plugin.IPlanetMonitor" />
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="com.dynatrace.diagnostics.plugin.GenericOperationMonitor.metricgroup1" name="ResultGroup">
    <metricgroup monitorid="com.dynatrace.diagnostics.plugin.GenericOperationMonitor.monitor">
      <metric defaultrate="purepath" name="result" unit="ms" description="The net difference between the purepath time minus the user wait time in the Baloise wait time" />
    </metricgroup>
  </extension>
</plugin>
